<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Importing Stylesheet -->

  <title>Admin Page</title>
</head>
<body>
  <%- include('./partials/_nav.ejs')%>
  <main>
    <h1>Admin Dashboard</h1>
    <table class="table">
      <tr style="background-color:orange">
          <th>User ID</th>
          <th>Customer Name</th>
          <th>Email</th>
          <th>E-Wallet Balance</th>
          <th>Amount purchased</th>
          <th>Coins purchased</th>
          <th>Amount of coins purchased/sold</th>
          <th>Buy/Sold/Reload</th>
          <th>Date of Transaction </th>
      </tr>

    <% for (let transaction of usersTransactions) { %>

    <tr>
      <td> <%= transaction.user_id %></td>
      <td> <%= transaction.first_name %>, <%=transaction.last_name %> </td>
      <td> <%= transaction.email %></td>
      <td> <%= transaction.e_wallet %></td>
      <td> <%= transaction.amount %></td>
      <td> <%= transaction.coin_name %></td>
      <td> <%= transaction.coin_amount %></td>

      <% if (transaction.buy_or_sell === 'buy') { %>
      <td style="color: red;"><%= transaction.buy_or_sell %></td>

      <% } else if (transaction.buy_or_sell === 'sell') { %>
        <td style="color: green"><%= transaction.buy_or_sell %></td>

        <% } else { %>
        <td style="color: black"><%= transaction.buy_or_sell %></td>

        <% } %>
      <td> <%= transaction.created_at %> </td>
    </tr>
    <% } %>     
  </main> 

  
</body>
</html>






